<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean id="person" class="cn.wangtao34.spring.Person">
		<property name="name" value="zhangsan"></property>
		<property name="age" value="12"></property>
	</bean>

	<bean id="app" class="cn.wangtao34.spring.App">
		<property name="person" ref="person"></property>
	</bean>
	
	<bean id="helloBean" class="cn.wangtao34.spring.HelloWorld">
		<property name="name" value="wangtao"></property>
	</bean>
	
	<bean id="outputHelperBean" class="cn.wangtao34.output.OutputHelper">
		<property name="outputGenerator">
			<ref local="json"/>
		</property>
	</bean>
	
	<bean id="csv" class="cn.wangtao34.output.impl.CsvOutputGenerator"></bean>
	<bean id="json" class="cn.wangtao34.output.impl.JsonOutputGenerator"></bean>

</beans>